<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="container bodyCustom">
  <center>
    
    <div class="addingItem">
      <h1>Add item</h1>
      <form action="/add-items" method="post">
        <label>item name</label>
        <br>
        <input type="text" name="name" style="margin: 2%;" class="login" required>
        <br><br>
        <label>price</label>
        <br>
        <input type="number" name="price" style="margin: 2%;" class="login" required>
        <br><br>
        <label style="margin: 2%;">item type</label>
        <select name="itemType" required>
          <option value="main">main</option>
          <option value="assist">assist</option>
        </select>
        <br><br>
        <label>staff name</label>
        <input type="text" name="staffName">
        <br>
        <p>if u didn't write staff name or assistnat name for this item <br> it automatically saved as beauty center-staff</p>
        <br><br>
        <input type="submit" class="btn btn-lg btn-success login" style="padding-bottom: 10%;" value="add">
      </form>
    </div>
  </center>
  
</body>
</html>