<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body class="container bodyCustom">
  <center>
    <br><br><br>
    <div class="addingItem">
      <h1>Add item</h1>
      <form action="/add-items" method="post">
        <label>item name</label>
        <br>
        <input type="text" name="name" style="margin: 2%;" required>
        <br><br>
        <label>price</label>
        <br>
        <input type="number" name="price" style="margin: 2%;" required>
        <br><br>
        <input type="submit" class="btn btn-lg btn-success" value="add">
      </form>
    </div>
  </center>
  
</body>
</html>