<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>
    <div class="log-bg">
      <center>
        <div class="addingItem">
          <h2 style="text-shadow: 2px 2px 8px goldenrod">
            Micheal Beauty Center
          </h2>
          <hr style="height:2px; border: goldenrod 3px solid; border-radius: 50%; ">
          <form action="/login" method="post">
            <label>username</label>
            <br><br>
            <input type="text" name="username" class="login"><br><br>
            <label>password</label>
            <br><br>
            <input type="password" name="password" class="login"><br><br>
            <label>role:</label>
            <select name="role" style="margin: 1%;" class="login">
              <option value="admin">admin</option>
              <option value="moderator">moderator</option>
            </select>
            <br><br>
            <input type="submit" class="btn btn-lg btn-success login" value="log in" style="padding-bottom: 10%;">
          </form>
        </div>
        
      </center>
    </div>
  </body>

</html>